@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');

/* :root{
    --primary-color:red;
} */
:root{
    --primary-color:#1d4ed8;
}
body{
    font-family: 'Figtree', sans-serif;
}

hr{
    margin: 2rem 0rem;
    /* top and bottom 2 rem right and left zero */
}

/* comments in css 
*/
.container {

    padding-left: 1rem;
    padding-right: 1rem;

}

.container-center{

    max-width: 600px;
    margin: auto;
/* margin auto means center position */
}

/* links */
.link{
     text-decoration: none;
     padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color)
}

.list-non-bullet{

    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* navbar css */

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;

}

/* this is inheritace in css classes 
 when we select a class inside a class
 by this way we can manage and implement 
 css easily with clasess 
 */

.navigation .link{
    color: white;
}
.navigation .nav-pills{
    text-align: right;
}

.navigation .nav-brand {
   font-weight:bold;
   font-size:1.5rem;
}

.navigation .link-active{
    font-weight: bold;
}